<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.monithon.monithon" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.monithon.monithon.util.GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.monithon.monithon.activities.ProjectListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.monithon.monithon.services.MonithonService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="org.monithon.monithon.activities.UploadDialogActivity"
            android:label="@string/title_activity_upload_dialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="org.monithon.monithon.activities.BACKActivity"
            android:label="@string/title_activity_back" >
        </activity>

        <service
            android:name="org.monithon.monithon.services.UploadService"
            android:exported="false" >
        </service>
    </application>

</manifest>
